{
    admin off
    auto_https off
    #debug
}

#https://caddyserver.com/docs/caddyfile/patterns#single-page-apps-spas
:8080 {
    #log {
    #    output stdout
    #    level DEBUG
    #}
    root * dist/
    try_files {path} {path}.html /index.html
    file_server {
        #https://caddyserver.com/docs/caddyfile/directives/file_server#precompressed
 	    precompressed br gzip
    }
}